.NavBar {
    display:flex !important;
    text-align: center !important;
    border-radius: 5px !important;
    background-color: #17376e !important;
    width: 100% !important;

}


.LinkName{
    color: aliceblue !important;
    font-weight: 400 !important;
    padding: 1px !important;
    margin-left: 10px;
 

}
